@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #2C3E50;
    --secondary-color: #2477af;
    --accent1-color: #E74C3C;
    --accent2-color: #F39C12;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #2C3E50;
    --nav-link-color: #2477af;
    --nav-hover-link-color: #E74C3C;
    --nav-hover-background-color: #F39C12;

    --background-color: 230, 230, 230;
}

header {
    display: grid;
	grid-template-columns: 100px 1fr;
	align-items: center;
}

header img {
    width: 64px;
    height: auto;
}

body {
    font-family: var(--paragraph-font);
    max-width: 80%;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body.home-body {
    max-width: 100%;
    padding: 20px 0;
}

body.home-body header {
    margin-left: 10%;
}

.home-body .hero {
    height: 800px;
    overflow: hidden;
}

.home-body .hero img {
    margin-top: -300px;
}


body.home-body .main-container, body.home-body footer {
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    margin-top: 100px;
}

section.history div.container, section.our-team div {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    align-items: center;
    text-align: center;
}

figure.center, div.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section.history img, section.our-team img {
    width: 200px;
    align-items: center;
}

section.our-team img {
    height: 150px;
    width: auto;
}

section.adventure div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

section.best-trips div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section.adventure img {
    height: 80px;
}

section.best-trips, body.home-body section.adventure {
    overflow-x: auto;    
}

section.best-trips img {
    height: 200px;
}

body.home-body section.adventure div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

body.home-body section.adventure div.figure-container, section.best-trips div.figure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body.home-body section.adventure img {
    height: auto;
    max-width: 500px;
}

section.adventure figure {
    margin: 10px;
    padding: 0;
}

section.table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #bbb;
    padding: 8px;
    text-align: left;
}

td {
    background-color: #fafafa;
}

th {
    background-color: #ddd;
    font-weight: bold;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

main h1, section h2 {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p {
    padding: 15px;
    color: var(--primary-color)
}

nav {
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    text-align: center;
    flex-grow: 1;
}

footer nav img {
    width: 30px;
}

.hero {
    position: relative;
    height: 800px;
    overflow: hidden;
}

.hero h1 {
    position: absolute;
    background-color: var(--nav-background-color);
    color: whitesmoke;
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.7;
    height: 4rem;
    line-height: 4rem;
}

.hero article {
    padding: 15px;
    position: absolute;
    top: 250px;
    background-color: var(--nav-background-color);
    opacity: 0.75;
}

.hero article img {
    float: right;
    width: 150px;
    margin-top: 0;
}

.hero article p {
    padding: 0;
    color: whitesmoke;
    /* height: 200px; */
    margin: 0;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -300px;
}

.contact-detail {
    padding: 0;
}

.contact-detail svg, svg.location {
    height: 20px;
}

main section {
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--background-color), 0.5);
    padding: 10px 25px;
    margin-bottom: 50px;
}

section.form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

section.form label {
    margin-bottom: 10px;
    margin-top: 20px;
}

section.form label.radio-label {
    margin: 0;
}

section.form input, section.form textarea, button {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

a.button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

section.trips .button {
    padding: 15px;
}

button:hover {
    background-color: #0056b3;
}

iframe {
    width: 100%;
}

/* div.figure-container > div {
    margin: 20px;
    text-align: center;
} */

/* div.figure-container figure {
    margin: 0;
}

div.figure-container figcaption {
    margin-top: 10px;
}

div.figure-container p {
    margin-top: 10px;
} */