@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #2C3E50;
    --secondary-color: #2477af;
    --accent1-color: #E74C3C;
    --accent2-color: #F39C12;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #2C3E50;
    --nav-link-color: #2477af;
    --nav-hover-link-color: #E74C3C;
    --nav-hover-background-color: #F39C12;
}

header {
    display: grid;
	grid-template-columns: 100px 1fr;
	align-items: center;
}

header img {
    width: 64px;
    height: auto;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

section.history div {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    align-items: center;
}

section.history img {
    width: 300px;
    align-items: center;
}

section.adventure div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

section.adventure img {
    /* width: 300px; */
    height: 80px;
}

section.adventure figure {
    margin: 10px;
    padding: 0;
}

section h2 {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p {
    padding: 15px;
    color: var(--primary-color)
}

nav {
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    text-align: center;
    flex-grow: 1;
}

footer nav img {
    width: 30px;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    background-color: var(--nav-background-color);
    color: whitesmoke;
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.7;
    height: 4rem;
    line-height: 4rem;
}

.hero article {
    padding: 15px;
    position: absolute;
    top: 250px;
    background-color: var(--nav-background-color);
    opacity: 0.75;
}

.hero article img {
    float: right;
    width: 150px;
}

.hero article p {
    padding: 0;
    color: whitesmoke;
    /* height: 200px; */
    margin: 0;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}
